.Iocampus-logo {
    height: 150px;
    margin-right: 100px;
    margin-top: -30px;
}

.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
}
ul{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
 a:hover {
    color: blue;
 }         

 .watch{
    color: white;
 }
 .watch:hover{
    color:rgb(244, 86, 19);
 }
.overall {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.general {
    margin-right: 17px;
}

.overall {
    position: right;
    margin-right: 20px;
}

body {
    background-image: url("pexels-photo-16732092.jpeg");
    background-size:cover;
background-repeat: no-repeat;
height: 1500px;
}

.write-up {
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 100;
    bottom: 190px;
    color: white;
    width: 550px;
    margin-left: 400px;
    

}

.button {
    background: transparent;
    color: white;
    border: 3px solid rgb(244, 86, 19);
   border-radius: 30px;
   font-size: 12px;
   display:inline;
   width: 180px;
   height: 50px;
   justify-content: center;
   align-items: center;
  margin-left: -15px;
  margin-right: 10px;
}


h1{
    font-size:50px;
}
p{margin-left: 100px;}

.button-container {
    margin-left:80px ;
}
